{% extends 'base.html' %}
{% block head %}
<style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .business-card {
            display: flex;
             max-width: 80%;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .left-side {
            padding: 20px;
            text-align: center;
            border-right: 1px solid #ccc;
        }

        .right-side {
            padding: 20px;
            text-align: left;
        }

        img {
            max-width: 100%;
            border-radius: 50%;
        }

        h1 {
            margin: 10px 0;
            color: #333;
        }

        p {
            margin: 5px 0;
            color: #666;
        }
        .tag {
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 5px;
            border-radius: 20px;
            font-size: 12px;
            cursor: pointer;
            background-color: #3498db;
            color: #fff;
            transition: background-color 0.3s, color 0.3s;
        }
                .tag:hover {
            filter: brightness(1.2);
        }
        @media (max-width: 768px) {
            /* Adjust the layout for smaller screens */
            .card {
                flex-direction: column;
            }

            .left-side, .right-side {
                border: none;
                text-align: center;
            }
        }



    </style>

{% endblock %}
{% block body %}




{% for lecturer in lecturers %}
  <div class="business-card">
        <div class="left-side">
            <img src={{lecturer["picture_url"]}} alt="Profile Picture">

        </div>
        <div class="right-side">

            <p><strong>Name:</strong> {{lecturer["title_before"]}} {{lecturer["first_name"]}} {{lecturer["middle_name"]}} {{lecturer["last_name"]}} {{lecturer["title_after"]}}</p>
            <p><strong>Location:</strong> {{lecturer["location"]}}</p>
            <p><strong>Claim:</strong> {{lecturer["claim"]}}</p>
            <p><strong>Bio:</strong> {{lecturer["bio"]|safe}}</p>
            <p><strong>Tags:</strong>{{lecturer["tags"]}}</p>
{#                 {% for tag in lecturer["tags"] %}<div class="tag" onclick="filterByTag('senior')">
            {{tag["name"]}}</div>{% endfor %} #}
</p>
            <p><strong>Price per hour:</strong>{{lecturer["price_per_hour"]}}</p>
            <p><strong>Contact:</strong>{{lecturer["contact"]}}</p>
{#                 {% for contact in lecturer["contact"] %}<div class="contact">
            {{contact}}</div>{% endfor %} </p>

 #}

        </div>
    </div>
{% endfor %}


    <script>
        function filterByTag(tag) {
            // Implement your filtering logic here
            // For demonstration purposes, you can console.log the selected tag
            console.log('Filter by tag:', tag);
        }
    </script>

{% endblock %}
