{% extends 'base.html' %}
{% block head %}


{% endblock %}
{% block body %}
 <nav>
        <img href="#" class="nav-logo" src="../static/img/TeacherDigitalAgency_LOGO_colour-white.png"></img>

        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
            <input type="text" class="tag-input" placeholder="Tags...">
        </div>

        <ul class="nav-links">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">About</a></li>
            <li><a href="#" class="nav-link">Services</a></li>
            <li><a href="#" class="nav-link">Contact</a></li>
        </ul>
    </nav>



{% for lecturer in lecturers %}
  <div class="business-card">
        <div class="left-side">
            <img src={{lecturer["picture_url"]}} alt="Profile Picture">

        </div>
        <div class="right-side">

            <p><strong>Name:</strong> {{lecturer["title_before"]}} {{lecturer["first_name"]}} {{lecturer["middle_name"]}} {{lecturer["last_name"]}} {{lecturer["title_after"]}}</p>
            <p><strong>Location:</strong> {{lecturer["location"]}}</p>
            <p><strong>Claim:</strong> {{lecturer["claim"]}}</p>
            <p><strong>Bio:</strong> {{lecturer["bio"]|safe}}</p>
            <p><strong>Tags:</strong>{{lecturer["tags"]}}</p>
{#                 {% for tag in lecturer["tags"] %}<div class="tag" onclick="filterByTag('senior')">
            {{tag["name"]}}</div>{% endfor %} #}
</p>
            <p><strong>Price per hour:</strong>{{lecturer["price_per_hour"]}}</p>
            <p><strong>Contact:</strong>{{lecturer["contact"]}}</p>
{#                 {% for contact in lecturer["contact"] %}<div class="contact">
            {{contact}}</div>{% endfor %} </p>

 #}

        </div>
    </div>
{% endfor %}


    <script>
        function filterByTag(tag) {
            // Implement your filtering logic here
            // For demonstration purposes, you can console.log the selected tag
            console.log('Filter by tag:', tag);
        }
    </script>

{% endblock %}
